<footer class="footer container">
  <div class="row">
    <div class="col-lg-8">
      <section class="footer__copy">
        <p class="t--sm">
          Po.st is a proud participant in the Digital Advertisting Alliance and is full OBA compliant.
        </p>
        <p class="t--sm">
          &copy; Copyright 2015 Po.st Inc., All rights reserved.
        </p>
      </section>
      <section class="footer__logo">
        Logo
      </section>
    </div>
    <div class="col-lg-4">
      <section class="footer__links">
        <ul class="list d-flex ">
          <li><a routerLink="/">Terms and Conditions</a></li>
          <li><a routerLink="/">Privacy Policy</a></li>
        </ul>
        <ul class="list d-flex ">
          <li><a routerLink="/">Blog</a></li>
          <li><a routerLink="/">Help</a></li>
          <li><a routerLink="/">Contact</a></li>
        </ul>
      </section>
      <section class="footer__social">
        <a href="#" title="facebook" aria-label="facebook"></a>
        <a href="#" title="twitter" aria-label="twitter"></a>
      </section>
    </div>
  </div>
</footer>