<footer class="footer container">
  <div class="row no-gutters">
    <div class="col-lg-8">
      <section class="footer__copy">
        <p class="t--sm mb-0">
          Po.st is a proud participant in the Digital Advertisting Alliance and is full OBA compliant.
        </p>
        <p class="t--sm mb-4">
          &copy; Copyright 2015 Po.st Inc., All rights reserved.
        </p>
      </section>
      <figure class="footer__logo">
        <img src="/assets/img/bottom.png" alt="Footer logo">
      </figure>
    </div>
    <div class="col-lg-4">
      <section class="footer__links">
        <ul class="list d-flex justify-content-end">
          <li class="t--sm mr-2"><a routerLink="/">Terms and Conditions</a></li>
          <li class="t--sm "><a routerLink="/">Privacy Policy</a></li>
        </ul>
        <ul class="list d-flex justify-content-end mt-lg-1">
          <li class="t--sm mr-2"><a routerLink="/">Blog</a></li>
          <li class="t--sm mr-2"><a routerLink="/">Help</a></li>
          <li class="t--sm "><a routerLink="/">Contact</a></li>
        </ul>
      </section>
      <section class="footer__social text-right mt-4">
        <a class="icon--md mr-2" href="#" title="facebook" aria-label="facebook" [inlineSVG]="'/assets/svg/fb.svg'"></a>
        <a class="icon--md " href="#" title="twitter" aria-label="twitter" [inlineSVG]="'/assets/svg/twit.svg'"></a>
      </section>
    </div>
  </div>
</footer>