.footer{
    padding-top: 4rem;
    padding-bottom: 4.5rem;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 
    .footer{
        padding-top: 3rem;
        padding-bottom: 3.5rem;
    }
}