<header class="header container">
  <section class="row justify-content-between">
    <nav class="nav-top col-lg-9 col-xl-6 d-flex align-items-center justify-content-between ">
      <a class="nav-top__item" routerLink="/">
        <img class="nav-top__item-img" src="/assets/img/logo.png" alt="logo">
      </a>
      <a class="nav-top__item link" routerLink="/dashboard" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
      <a class="nav-top__item link" routerLink="/analytics" routerLinkActive="active">Analytics</a>
      <a class="nav-top__item link" routerLink="/tools" routerLinkActive="active">Social Tools</a>
      <a class="nav-top__item link" routerLink="/administration" routerLinkActive="active">Administration</a>
      <a class="nav-top__item link" routerLink="/home" routerLinkActive="active">Po.st Home</a>
    </nav>
    <div class="menu col-lg-3 col-xl-3 d-flex flex-column justify-content-around">
      <ul class="menu__setings list d-flex justify-content-end">
        <li class="menu__setings-item">
          <a class="menu__setings-link link" href="mailto:bootook@gmail.com">bootook@gmail.com</a>
        </li>
        <li class="menu__setings-item">
          <a class="menu__setings-link link" routerLink="/">Setings</a>
        </li>
        <li class="menu__setings-item">
          <a class="menu__setings-link link icon--sm" routerLink="/" [inlineSVG]="'/assets/svg/login.svg'"
            aria-label="Button login">
          </a>
        </li>
      </ul>
      <ul class="menu__lang list d-flex justify-content-end">
        <li class="menu__lang-item">
          <a class="menu__lang-link link" routerLink="/">En</a>
        </li>
        <li class="menu__lang-item">
          <a class="menu__lang-link link" routerLink="/">中国</a>
        </li>
      </ul>
    </div>
  </section>
</header>