.page{
    
    &__title{
        font-size: 2.8rem;
        font-weight: 500;
        padding: 3.8rem .6rem;
        letter-spacing: 1px;
    }
    &-drop-menu{    
          margin-top: .3rem;
        &__list{
            position: absolute;
            background: #fff;
            border: 1px solid #007bff;
            height: 0;
            display: none;
            bottom: -28px;
            right: 15px;
            z-index: 3;
            &-link{
                display: block;
                padding: 1rem 1.8rem;
            }
            &-link:hover{
                background:#007bff;
                color: #fff;
            }
        }
        
    }
    &-drop-menu.open{

        .page-drop-menu__list{
            display: block;
            height: auto;

        }
        .button--line-blue{
            color: #fff;
            background: #007bff;
            &::after{                             
                transform: rotate(45deg);
                background: #fff;
            }
            &::before{               
                transform: rotate(-45deg);
                background: #fff;            }
        }

    }    

    &-settings-list{
        margin-top: .85rem;
        font-size: 1.1rem;
        &__item{
            padding-left: 1.5rem;
            &:first-child::after{
                content:'|';
                position: absolute;
                top: 0%;
                right: -4%;
               
            }
        }
        &__link{
            position: relative;
            &:hover:after{
                width: 100%;
            }
            &:after{
                content:'';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 1px;
                background: #007bff;
                transition: width .5s ease-in;
            }
            
        }
        
    }
    &-cards{
        &-item{
            min-height: 280px;
        }
        &-item:nth-child(n+3){
            margin-top: 2.6rem;
        }
        &-item__descr{
            padding: 1.4rem 2.5rem;
            // padding: 1.5rem 1.8rem 1.4rem 2.5rem;

        }
        &-item__media{
            margin-bottom: 3rem;
        }
        &-item--lg{
            flex-basis: 66%
        }
        &-item--sm{
            flex-basis: 32%
        }
    }

    .button--line-blue{
        border: 1px solid #007bff;
        color: #007bff;
        background: #fff;
        font-size: 1.1rem;
        padding: .4rem 2.8rem 0.4rem 1rem;
        &::after{
            content:'';
            position: absolute;
            top: 45%;
            right: 6%;
            width: 10px;
            height: 2px;
            transform: rotate(-45deg);
            background: #007bff;
        }
        &::before{
            content:'';
            position: absolute;
            top: 45%;
            right: 10%;
            width: 10px;
            height: 2px;
            transform: rotate(45deg);
            background: #007bff;
        }
       
        &:focus{
            box-shadow: 1px -1px 4px 1px rgba(0, 123, 255, 0.3);

        }
    }

    .btn-light-green{
        font-size: 0.9rem;
        font-weight: 500;
        padding: .6rem 1.5rem;
        word-spacing: 4px;
        text-transform: initial;
        margin: 0;
    }
    
    
}

// Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575px) { ... }

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { 
    .page{
        &-cards{
            &-item:nth-child(n+2){
                margin-top: 1rem;
            }
            &-item--lg {        
                 flex-basis: 100%; 
            }
            &-item--sm{
                flex-basis: 49%
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }