<section class="page row">

  <div class="col-lg-7 pl-0">
    <h1 class="page__title">Social Tools</h1>
  </div>

  <div class="col-lg-5 d-flex flex-column align-content-end pt-4">
    <div class="page-drop-menu text-right" [ngClass]="{'open': isShowDropMenu}">
      <button class=" button button--line-blue position-relative" (click)="showDropMenu()">Current profile</button>
      <ul class="page-drop-menu__list list">
        <li class="page-drop-menu__list-item">
          <a class="page-drop-menu__list-link" routerLink="/"> Profile name first created</a>
        </li>
        <li class="page-drop-menu__list-item">
          <a class="page-drop-menu__list-link" routerLink="/"> Profile name second</a>
        </li>
        <li class="page-drop-menu__list-item">
          <a class="page-drop-menu__list-link" routerLink="/"> Profile name last</a>
        </li>
      </ul>
    </div>

    <ul class="page-settings-list list d-flex justify-content-end">
      <li class="page-settings-list__item position-relative">
        <a class="page-settings-list__link" routerLink="/">
          <span class="icon--sm" [inlineSVG]="'/assets/svg/settings.svg'"></span>
          Show code installation instructions
        </a>
      </li>
      <li class="page-settings-list__item">
        <a class="page-settings-list__link" routerLink="/">
          <span class="icon--sm" [inlineSVG]="'/assets/svg/information.svg'"></span>
          Help
        </a>
      </li>
    </ul>
  </div>

  <div class="col-12">
    <div class="page-cards d-flex flex-wrap justify-content-between">
      <div class="page-cards-item page-cards-item--lg border d-flex">
        <article class="page-cards-item__descr d-flex flex-column justify-content-between">
          <div class="page-cards-item__descr-info">
            <h2 class="t--title-sm"> Sharing Buttons </h2>
            <p class="t--sm">
              Classic sharing buttons with a unique style and format for all your users standard sharing needs.
            </p>
          </div>
          <a class="button btn btn-light-green" routerLink="/">Set up and activate</a>
        </article>
        <figure class="page-cards-item__media">
          <img src="./assets/img/img1.png" alt="Sharing Buttons">
        </figure>
      </div>
      <div class="page-cards-item page-cards-item--sm border d-flex">
        <article class="page-cards-item__descr d-flex flex-column justify-content-between">
          <div class="page-cards-item__descr-info">
            <h2 class="t--title-sm">
              Floating Sharing Buttons
            </h2>
            <p class="t--sm">
              Scrolling share buttons that stylishly align with the users view as they read your sites content.
            </p>
          </div>
          <a class="button btn btn-light-green" routerLink="/">Set up and activate</a>
        </article>
        <figure class="page-cards-item__media">
          <img src="./assets/img/img2.png" alt="Floating Sharing Buttons">
        </figure>
      </div>
      <div class="page-cards-item page-cards-item--sm border d-flex">
        <article class="page-cards-item__descr d-flex flex-column justify-content-between">
          <div class="page-cards-item__descr-info">
            <h2 class="t--title-sm">
              Po.st Lite
            </h2>
            <p class="t--sm">
              Track Dark Social sharing. An additional feature for those serious about tracking 100% of all the social
              engagement occurring on your site.
            </p>
          </div>
          <a class="button btn btn-light-green" routerLink="/">Set up and activate</a>
        </article>
        <figure class="page-cards-item__media">
          <img src="./assets/img/img3.png" alt="Post Lite">
        </figure>
      </div>
      <div class="page-cards-item page-cards-item--sm border d-flex">
        <article class="page-cards-item__descr d-flex flex-column justify-content-between">
          <div class="page-cards-item__descr-info">
            <h2 class="t--title-sm">
              Native Sharing Buttons
            </h2>
            <p class="t--sm">
              The original sharing buttons offered by your favorite social networks.
            </p>
          </div>
          <a class="button btn btn-light-green" routerLink="/">Set up and activate</a>
        </article>
        <figure class="page-cards-item__media">
          <img src="./assets/img/img4.png" alt="Native Sharing Buttons">
        </figure>
      </div>
      <div class="page-cards-item page-cards-item--sm border d-flex">
        <article class="page-cards-item__descr d-flex flex-column justify-content-between">
          <div class="page-cards-item__descr-info">
            <h2 class="t--title-sm">
              Newsletter Sharing Buttons
            </h2>
            <p class="t--sm">
              Sharing buttons specifically designed and formatted for your email newsletters.
            </p>
          </div>
          <a class="button btn btn-light-green" routerLink="/">Set up and activate</a>
        </article>
        <figure class="page-cards-item__media">
          <img src="./assets/img/img5.png" alt="Newsletter Sharing Buttons">
        </figure>
      </div>
    </div>
  </div>
</section>