// __________ NORMOLIZE _________
body{
//  font-family: 'Courier New', Courier, monospace;
}

// __________ GRID ______________
.container{
    max-width: 1280px;
    padding: 0 4.5rem;
}
// __________ LIST ______________

.list{
    list-style-type: none;
    margin-bottom: 0rem;
    line-height: 1rem;
    padding: 0;
}
// __________ TEXT ______________

.t--title-sm{
    font-size: .9rem;
    font-weight: 600;
}

.t--sm{
    font-size: .85rem;
    font-weight: 400;
    line-height: 1.5;
}
// __________ LINK ______________
.link{    
    color:  #97bae6;   
    &:hover{
        color: #fff;
    }
}

.active{
    color: #fff;
    background: #2F52AD;
}


// __________ SVG ______________
svg {
    fill: currentColor;
}

.icon--sm>svg{
    width: 16px;
    height: 16px;
}

.icon--md>svg{
    width: 22px;
    height: 22px;
}
// __________ BTN ______________
.button{
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: none;
    background: transparent;

    &:hover,
    &:active,
    &:focus{
        outline: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }
}
